In [22]:
import pandas as pd
import yfinance as yf
import numpy as np



# Define the strategy
def pivot_point_bounce_strategy(data):
    # Calculate daily pivot points
    data['PP'] = (data['High'] + data['Low'] + data['Close']) / 3
    data['R1'] = 2 * data['PP'] - data['Low']
    data['S1'] = 2 * data['PP'] - data['High']

    # Generate buy signals
    data['Signal'] = 0
    data.loc[(data['Close'] > data['PP']) & (data['Close'].shift(1) <= data['PP']), 'Signal'] = 1

    # Calculate hypothetical returns (assuming fixed position size)
    data['Returns'] = data['Close'].pct_change() * data['Signal'].shift(1)

    return data

# Fetch TSLA data
ticker = "TSLA"
data = yf.download(ticker, period="5y")

# Apply the strategy
data = pivot_point_bounce_strategy(data.copy())

df = data    


# Print key performance metrics
print("Hypothetical Strategy Performance:")
print("Total Return:", (data['Returns'] + 1).prod() - 1)
print("Sharpe Ratio:", data['Returns'].mean() / data['Returns'].std() * np.sqrt(252))
print("Max Drawdown:", (data['Returns'].cumsum() + 1).rolling(window=252).min() - 1)


# Print Data
display(data)

[*********************100%***********************]  1 of 1 completed
Hypothetical Strategy Performance:
Total Return: 9.96701703793378
Sharpe Ratio: 1.4194725634096577
Max Drawdown: Date
2019-01-22         NaN
2019-01-23         NaN
2019-01-24         NaN
2019-01-25         NaN
2019-01-28         NaN
                ...
2024-01-12    2.350393
2024-01-16    2.350393
2024-01-17    2.350393
2024-01-18    2.350393
2024-01-19    2.350393
Name: Returns, Length: 1258, dtype: float64

,Open,High,Low,Close,Adj Close,Volume,PP,R1,S1,Signal,Returns
Date,,,,,,,,,,,
2019-01-22,20.321333,20.533333,19.700001,19.927999,19.927999,181000500,20.053778,20.407555,19.574223,0,NaN
2019-01-23,19.500000,19.633333,18.779333,19.172667,19.172667,187950000,19.195111,19.610889,18.756889,0,-0.000000
2019-01-24,18.868668,19.578667,18.618668,19.434000,19.434000,120183000,19.210445,19.802222,18.842223,1,0.000000
2019-01-25,19.625999,19.901333,19.303333,19.802668,19.802668,108744000,19.669111,20.034889,19.436890,1,0.018970
2019-01-28,19.527332,19.830667,19.183332,19.758667,19.758667,96349500,19.590889,19.998446,19.351110,0,-0.002222
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-12,220.080002,225.339996,217.149994,218.889999,218.889999,122889000,220.459997,223.769999,215.579997,0,-0.000000
2024-01-16,215.100006,223.490005,212.179993,219.910004,219.910004,115355000,218.526667,224.873342,213.563329,0,0.000000
2024-01-17,214.860001,215.669998,212.009995,215.550003,215.550003,103164400,214.409999,216.810003,213.149999,0,-0.000000
2024-01-18,216.880005,217.449997,208.740005,211.880005,211.880005,108595400,212.690002,216.639999,207.930008,0,-0.000000
2024-01-19,209.990005,213.190002,207.559998,212.190002,212.190002,101471179,210.980001,214.400004,208.769999,0,0.000000

In [24]:
# Add Columns for Balance, Profit, Unit Size, Delta, Change, Range, Shares 


# start_balance = 10,000
start_balance = 10,000

# Profit = df['Returns']*1000 
df ['Profit'] = df['Returns'].round(2)*1000

# cum_profit = df['Profit'].cumsum()
cum_profit = df['Profit'].cumsum()

# Balance = cum_profit + start_balance
df['Balance'] = cum_profit + start_balance
# Range = df['high'] - df['low']
# Change = df['close'] - df['open']
# Shares = 1000 

display (df)
#

ValueError: operands could not be broadcast together with shapes (1258,) (2,)