In [79]:
import yfinance as yf
import quantstats as qs
import pandas as pd
import warnings

# Ignore all warnings
warnings.filterwarnings('ignore')

# Set the ticker symbol and time period
ticker_symbol = "MNQ=F"
end_date = "2024-03-11"

# Fetch intraday data using yfinance for the last 10 days with 15-minute intervals
data = yf.download(ticker_symbol, period="10d", interval="15m").round(2)

# Calculate Pivot Points for 15-minute intervals
data['Pivot_Point'] = (data['High'] + data['Low'] + data['Close']) / 3
data['Support_1'] = 2 * data['Pivot_Point'] - data['High']
data['Resistance_1'] = 2 * data['Pivot_Point'] - data['Low']
data['Support_2'] = data['Pivot_Point'] - (data['High'] - data['Low'])
data['Resistance_2'] = data['Pivot_Point'] + (data['High'] - data['Low'])
data['Support_3'] = data['Low'] - 2 * (data['High'] - data['Pivot_Point'])
data['Resistance_3'] = data['High'] + 2 * (data['Pivot_Point'] - data['Low'])

# Calculate 10 period moving average for the close price
data['10_Day_MA'] = data['Close'].rolling(window=10).mean()

# Display the fetched data
display(data)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Pivot_Point,Support_1,Resistance_1,Support_2,Resistance_2,Support_3,Resistance_3,10_Day_MA
Datetime,,,,,,,,,,,,,,
2024-03-01 00:00:00,18119.00,18122.00,18115.50,18121.50,18121.50,1002,18119.666667,18117.333333,18123.833333,18113.166667,18126.166667,18110.833333,18130.333333,NaN
2024-03-01 00:15:00,18122.00,18123.75,18118.75,18120.75,18120.75,1110,18121.083333,18118.416667,18123.416667,18116.083333,18126.083333,18113.416667,18128.416667,NaN
2024-03-01 00:30:00,18120.75,18123.50,18118.00,18122.00,18122.00,1237,18121.166667,18118.833333,18124.333333,18115.666667,18126.666667,18113.333333,18129.833333,NaN
2024-03-01 00:45:00,18122.50,18130.00,18122.50,18127.50,18127.50,1801,18126.666667,18123.333333,18130.833333,18119.166667,18134.166667,18115.833333,18138.333333,NaN
2024-03-01 01:00:00,18127.75,18137.50,18126.75,18136.50,18136.50,2783,18133.583333,18129.666667,18140.416667,18122.833333,18144.333333,18118.916667,18151.166667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-12 13:30:00,18382.50,18406.00,18132.50,18402.00,18402.00,2456663,18313.500000,18221.000000,18494.500000,18040.000000,18587.000000,17947.500000,18768.000000,18318.300
2024-03-12 13:45:00,18402.00,18409.75,18131.75,18154.00,18154.00,3104064,18231.833333,18053.916667,18331.916667,17953.833333,18509.833333,17775.916667,18609.916667,18313.075
2024-03-12 14:00:00,18155.00,18439.50,18148.50,18419.00,18419.00,1268974,18335.666667,18231.833333,18522.833333,18044.666667,18626.666667,17940.833333,18813.833333,18314.225
2024-03-12 14:15:00,18170.50,18445.50,18168.00,18444.50,18444.50,2556975,18352.666667,18259.833333,18537.333333,18075.166667,18630.166667,17982.333333,18814.833333,18341.375
2024-03-12 14:30:00,18195.25,18461.50,18176.50,18428.50,18428.50,656901,18355.500000,18249.500000,18534.500000,18070.500000,18640.500000,17964.500000,18819.500000,18343.150