In [59]:
import yfinance as yf
import quantstats as qs
import pandas as pd
import warnings

# Ignore all warnings
warnings.filterwarnings('ignore')

# Set the ticker symbol and time period
ticker_symbol = "MNQ=F"

# Fetch intraday data using yfinance for the last 10 days with 15-minute intervals
data = yf.download(ticker_symbol, period="30d", interval="15m").round(2)

# Convert the index to datetime format
data.index = pd.to_datetime(data.index)

# Filter rows for the specific times 09:30 and 10:15
filtered_data = data[(data.index.time == pd.to_datetime("09:30:00").time()) | (data.index.time == pd.to_datetime("10:15:00").time())]
fdata = filtered_data
# Display the filtered data
print("\nFiltered Data:")
display(fdata)

[*********************100%***********************]  1 of 1 completed

Filtered Data:

                         Open      High       Low     Close  Adj Close  Volume
Datetime
2024-02-08 09:30:00  17835.50  17852.50  17807.50  17819.75   17819.75   70984
2024-02-08 10:15:00  17839.25  17866.00  17834.25  17838.75   17838.75   42574
2024-02-09 09:30:00  17909.00  17911.25  17875.25  17899.75   17899.75   70640
2024-02-09 10:15:00  17935.50  17969.75  17932.75  17969.50   17969.50   41470
2024-02-12 09:30:00  18029.25  18051.00  18007.25  18038.50   18038.50   73659
2024-02-12 10:15:00  18025.25  18038.75  18014.25  18032.75   18032.75   28212
2024-02-13 09:30:00  17628.25  17665.50  17586.50  17642.75   17642.75  103415
2024-02-13 10:15:00  17650.25  17742.50  17631.00  17741.75   17741.75   72813
2024-02-14 09:30:00  17788.50  17818.75  17743.00  17771.00   17771.00   97252
2024-02-14 10:15:00  17791.00  17847.00  17783.00  17837.00   17837.00   58248
2024-02-15 09:30:00  17888.25  17903.00  17838.50  17846.25   17846.25   87238
2024-02-15 10:15:00  17856.00  17863.25  17809.00  17818.75   17818.75   61439
2024-02-16 09:30:00  17925.75  17930.50  17877.50  17879.00   17879.00   89211
2024-02-16 10:15:00  17764.50  17792.75  17744.75  17767.00   17767.00   64682
2024-02-19 09:30:00  17789.25  17807.25  17784.75  17796.75   17796.75   15620
2024-02-19 10:15:00  17790.50  17792.25  17776.50  17783.50   17783.50    9781
2024-02-20 09:30:00  17661.75  17724.00  17559.50  17580.50   17580.50  139475
2024-02-20 10:15:00  17516.75  17548.00  17503.75  17508.50   17508.50   60249
2024-02-21 09:30:00  17495.00  17511.50  17455.50  17467.75   17467.75   99948
2024-02-21 10:15:00  17496.25  17517.75  17470.75  17473.75   17473.75   52636
2024-02-22 09:30:00  17896.00  17919.50  17864.00  17901.25   17901.25  106480
2024-02-22 10:15:00  17936.25  17958.50  17917.25  17957.00   17957.00   50255
2024-02-23 09:30:00  18105.75  18145.00  18097.00  18140.25   18140.25   79114
2024-02-23 10:15:00  18083.00  18090.75  18043.75  18048.75   18048.75   54719
2024-02-26 09:30:00  18017.00  18050.75  17990.75  17992.50   17992.50   80300
2024-02-26 10:15:00  17996.75  18041.00  17991.50  18021.00   18021.00   47439
2024-02-27 09:30:00  18018.25  18026.75  17938.00  17955.75   17955.75  101660
2024-02-27 10:15:00  18006.00  18032.50  17991.50  18010.00   18010.00   55374
2024-02-28 09:30:00  17923.50  17946.50  17901.50  17922.75   17922.75   90060
2024-02-28 10:15:00  17909.25  17922.00  17887.25  17903.50   17903.50   44790
2024-02-29 09:30:00  18029.75  18072.25  18020.75  18043.50   18043.50   77649
2024-02-29 10:15:00  17987.75  18030.00  17981.25  18017.50   18017.50   45543
2024-03-01 09:30:00  18096.50  18144.50  18093.50  18135.00   18135.00   89343
2024-03-01 10:15:00  18184.25  18196.75  18159.75  18180.00   18180.00   46451
2024-03-04 09:30:00  18329.75  18335.00  18287.75  18306.75   18306.75   70102
2024-03-04 10:15:00  18299.75  18308.25  18280.00  18290.25   18290.25   39114
2024-03-05 09:30:00  18133.75  18135.00  18054.00  18066.75   18066.75  105028
2024-03-05 10:15:00  17999.75  18011.00  17952.00  17961.75   17961.75   70942
2024-03-06 09:30:00  18104.00  18126.25  18069.50  18101.25   18101.25   90075
2024-03-06 10:15:00  18000.75  18035.75  17994.50  18017.00   18017.00   64155
2024-03-07 09:30:00  18182.25  18225.25  18162.00  18162.75   18162.75   95781
2024-03-07 10:15:00  18213.00  18238.75  18208.50  18237.75   18237.75   54797
2024-03-08 09:30:00  18318.50  18353.00  18288.00  18309.25   18309.25   93361
2024-03-08 10:15:00  18421.75  18434.50  18399.25  18428.00   18428.00   45541
2024-03-11 09:30:00  17975.75  17999.75  17907.00  17979.00   17979.00   38494
2024-03-11 10:15:00  17901.75  17944.00  17897.25  17928.75   17928.75   23236
2024-03-12 09:30:00  18311.25  18339.00  17956.00  18202.50   18202.50  107055
2024-03-12 10:15:00  18301.00  18367.00  18047.50  18117.25   18117.25   35311
2024-03-13 09:30:00  18428.25  18429.50  18366.50  18370.00   18370.00  103492
2024-03-13 10:15:00  18328.00  18354.00  18323.50  18341.75   18341.75   50276