In [72]:
import os
print (os.path.abspath("testfile.ext"))

C:\Users\Wolfrank\AppData\Local\Programs\Microsoft VS Code\testfile.ext

In [73]:

import yfinance as yf
import pandas as pd
import warnings

# Ignore all warnings
warnings.filterwarnings('ignore')

# Set the ticker symbol 
ticker_symbol = "MNQ=F"
# Fetch intraday data using yfinance for the last 60 days with 15-minute intervals
data = yf.download(ticker_symbol, period="60d", interval="15m").round(2)

# Round numbers
data = data.round(2)
#display(data)
# Convert the index to datetime format
data.index = pd.to_datetime(data.index)

# Filter rows for the specific times 09:30 and 10:15
filtered_data = data[(data.index.time == pd.to_datetime("09:30:00").time()) | (data.index.time == pd.to_datetime("10:15:00").time())]
#display(filtered_data)

# Group by date and aggregate the data
combined_data = filtered_data.groupby(filtered_data.index.date).agg({'Open': 'first', 'High': 'max', 'Low': 'min', 'Close': 'last', 'Volume': 'sum'})

# Calculate the range and add it as a new column
combined_data['Range'] = combined_data['High'] - combined_data['Low']

# Round numbers
data = data.round(2)
cdata = combined_data.round(2)
display(cdata)

# Calculate the average range for different windows of days
windows = [5, 10, 20, 30, 40, 50, 60]
for window in windows:
    avg_range = combined_data['Range'].rolling(window=window).mean().iloc[-1].round(2)
    print(f"Average Range for last {window} days:", avg_range)

# Calculate the average of the 'Range' column
average_range = combined_data['Range'].mean()

print("Average Range:", average_range)

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Volume   Range
2024-01-05  16449.00  16550.50  16437.25  16539.00  125417  113.25
2024-01-08  16512.00  16644.25  16505.25  16640.75   95848  139.00
2024-01-09  16668.75  16746.75  16660.75  16727.75  125766   86.00
2024-01-10  16840.00  16874.00  16836.00  16857.25  104437   38.00
2024-01-11  16984.50  17043.00  16830.50  16891.25  158242  212.50
2024-01-12  17008.25  17039.00  16935.25  16965.50  128503  103.75
2024-01-16  16917.00  17003.75  16870.25  16991.75  170724  133.50
2024-01-17  16825.00  16842.75  16716.50  16750.50  158732  126.25
2024-01-18  16996.50  17054.75  16995.50  17033.25  147142   59.25
2024-01-19  17190.50  17219.00  17166.25  17216.50  135135   52.75
2024-01-22  17528.75  17584.75  17484.00  17488.00  162109  100.75
2024-01-23  17487.50  17488.00  17409.25  17465.25  160993   78.75
2024-01-24  17692.75  17718.00  17637.25  17715.50  140073   80.75
2024-01-25  17722.50  17735.25  17674.75  17730.25  149987   60.50
2024-01-26  17557.75  17582.00  17516.75  17580.50  130672   65.25
2024-01-29  17548.25  17584.75  17528.25  17551.00  129399   56.50
2024-01-30  17661.25  17685.00  17631.00  17655.00  105113   54.00
2024-01-31  17399.50  17426.25  17318.00  17324.25  127468  108.25
2024-02-01  17306.50  17369.25  17294.00  17368.50  127103   75.25
2024-02-02  17507.50  17621.75  17465.75  17584.75  165363  156.00
2024-02-05  17722.50  17737.25  17600.75  17626.25  129978  136.50
2024-02-06  17741.50  17767.50  17598.00  17623.50  161793  169.50
2024-02-07  17773.50  17867.75  17722.75  17865.25  146775  145.00
2024-02-08  17835.50  17866.00  17807.50  17838.75  113558   58.50
2024-02-09  17909.00  17969.75  17875.25  17969.50  112110   94.50
2024-02-12  18029.25  18051.00  18007.25  18032.75  101871   43.75
2024-02-13  17628.25  17742.50  17586.50  17741.75  176228  156.00
2024-02-14  17788.50  17847.00  17743.00  17837.00  155500  104.00
2024-02-15  17888.25  17903.00  17809.00  17818.75  148677   94.00
2024-02-16  17925.75  17930.50  17744.75  17767.00  153893  185.75
2024-02-19  17789.25  17807.25  17776.50  17783.50   25401   30.75
2024-02-20  17661.75  17724.00  17503.75  17508.50  199724  220.25
2024-02-21  17495.00  17517.75  17455.50  17473.75  152584   62.25
2024-02-22  17896.00  17958.50  17864.00  17957.00  156735   94.50
2024-02-23  18105.75  18145.00  18043.75  18048.75  133833  101.25
2024-02-26  18017.00  18050.75  17990.75  18021.00  127739   60.00
2024-02-27  18018.25  18032.50  17938.00  18010.00  157034   94.50
2024-02-28  17923.50  17946.50  17887.25  17903.50  134850   59.25
2024-02-29  18029.75  18072.25  17981.25  18017.50  123192   91.00
2024-03-01  18096.50  18196.75  18093.50  18180.00  135794  103.25
2024-03-04  18329.75  18335.00  18280.00  18290.25  109216   55.00
2024-03-05  18133.75  18135.00  17952.00  17961.75  175970  183.00
2024-03-06  18104.00  18126.25  17994.50  18017.00  154230  131.75
2024-03-07  18182.25  18238.75  18162.00  18237.75  150578   76.75
2024-03-08  18318.50  18434.50  18288.00  18428.00  138902  146.50
2024-03-11  17975.75  17999.75  17897.25  17928.75   61730  102.50
2024-03-12  18311.25  18367.00  17956.00  18117.25  142366  411.00
2024-03-13  18428.25  18429.50  18323.50  18341.75  153768  106.00
2024-03-14  18375.00  18398.00  18272.75  18313.50  159406  125.25
2024-03-15  18152.25  18174.75  18081.25  18106.25  194237   93.50

Average Range for last 5 days: 167.65
Average Range for last 10 days: 143.12
Average Range for last 20 days: 117.41
Average Range for last 30 days: 117.86
Average Range for last 40 days: 109.29
Average Range for last 50 days: 108.72
Average Range for last 60 days: nan
Average Range: 108.72