EUREKA

i can use data algo project code to make new templates off the signal code and just change signal inputs
also, generate an email each time
also, generate the code for stocks, etf, and forex and futures!

simply alter code for oanda and use this template, perfect it for a backtest and simply convert to forward test when ready to 
try it in a live market but fake account, when ready for real account, simply add oanda account info etc and key

continue to develop the code so it runs cleanly and generate solid seaborn graphics, add a scheduler for forward test and live deployment. 

oct 3, 2023 7 58 pm 
good work on a late start

In [1]:
import oandapyV20
import oandapyV20.endpoints.instruments as instruments
import pandas as pd
from datetime import datetime, timedelta
import time
import oandapyV20
import oandapyV20.endpoints.instruments as instruments
import numpy as np
import matplotlib.pyplot as plt
import warnings 
# Ignore all warnings
warnings.filterwarnings('ignore')

In [2]:

# OANDA API credentials
api_token = '4774a622bc314440290f530efcc46453-eb96728988593ba944d5285fbcf8786a'
account_id = '101-001-8028197-001'

# OANDA API connection
api = oandapyV20.API(access_token=api_token)

In [3]:
# Download Data for Backtest 
client = oandapyV20.API(access_token=api_token)

# Get historical data for EURUSD
instrument = "EUR_USD"
start_date = "2023-06-01"
end_date = "2023-10-03"
params = {"from": start_date, "to": end_date, "granularity": "D"}
r = instruments.InstrumentsCandles(instrument=instrument, params=params)
candles = client.request(r)["candles"]

# Create a DataFrame from the historical data
df = pd.DataFrame([{"time": c["time"], "open": c["mid"]["o"], "high": c["mid"]["h"], "low": c["mid"]["l"], "close": c["mid"]["c"]} for c in candles])
df["time"] = pd.to_datetime(df["time"])

display(df)

                        time     open     high      low    close
0  2023-05-31 21:00:00+00:00  1.06854  1.07685  1.06618  1.07622
1  2023-06-01 21:00:00+00:00  1.07643  1.07790  1.07052  1.07078
2  2023-06-04 21:00:00+00:00  1.07086  1.07224  1.06746  1.07119
3  2023-06-05 21:00:00+00:00  1.07161  1.07329  1.06670  1.06922
4  2023-06-06 21:00:00+00:00  1.06936  1.07398  1.06684  1.06985
..                       ...      ...      ...      ...      ...
84 2023-09-26 21:00:00+00:00  1.05698  1.05743  1.04880  1.05026
85 2023-09-27 21:00:00+00:00  1.05074  1.05790  1.04911  1.05664
86 2023-09-28 21:00:00+00:00  1.05616  1.06171  1.05581  1.05744
87 2023-10-01 21:00:00+00:00  1.05720  1.05919  1.04779  1.04780
88 2023-10-02 21:00:00+00:00  1.04788  1.04936  1.04485  1.04669

[89 rows x 5 columns]

In [4]:
# Calculate 10-day moving average of the open prices
df['MA10'] = df['open'].rolling(window=10).mean()

# Convert Data types for easy integration
df['MA10'] = df['MA10'].astype(float)
df['open'] = df['open'].astype(float)
df['high'] = df['high'].astype(float)
df['low'] = df['low'].astype(float)
df['close'] = df['close'].astype(float)

# Create a 'Signal' column indicating when the short moving average crosses the long.
df['Signal'] = np.where(df['open'] > df['MA10'], 1.0, 0.0)

# Create a new column named "Order", buy the day after (diff) when signal is generated, buy on the open, sell at the close! 
df["StratOrder"] = ""
StratOrder = df['StratOrder']
df.loc[df["Signal"] == 1.0, "StratOrder"] = "Buy"

df['Signal'] = 0  # 0 represents no signal
df.loc[df['open'] < df['MA10'], 'Signal'] = -1  # Sell signal
df.loc[df['open'] > df['MA10'], 'Signal'] = 1   # Buy signal

# Drop null values 
df = df.dropna()

In [5]:
display(df)

,time,open,high,low,close,MA10,Signal,StratOrder
9,2023-06-13 21:00:00+00:00,1.07954,1.08644,1.07740,1.08316,1.073528,1,Buy
10,2023-06-14 21:00:00+00:00,1.08320,1.09527,1.08038,1.09455,1.074994,1,Buy
11,2023-06-15 21:00:00+00:00,1.09444,1.09708,1.09178,1.09416,1.076795,1,Buy
12,2023-06-18 21:00:00+00:00,1.09422,1.09463,1.09072,1.09210,1.079131,1,Buy
13,2023-06-19 21:00:00+00:00,1.09226,1.09462,1.08922,1.09179,1.081196,1,Buy
...,...,...,...,...,...,...,...,...
84,2023-09-26 21:00:00+00:00,1.05698,1.05743,1.04880,1.05026,1.065352,-1,
85,2023-09-27 21:00:00+00:00,1.05074,1.05790,1.04911,1.05664,1.063134,-1,
86,2023-09-28 21:00:00+00:00,1.05616,1.06171,1.05581,1.05744,1.062362,-1,
87,2023-10-01 21:00:00+00:00,1.05720,1.05919,1.04779,1.04780,1.061455,-1,
88,2023-10-02 21:00:00+00:00,1.04788,1.04936,1.04485,1.04669,1.059369,-1,

In [6]:
# Filtering the DataFrame
buy_df = df[df['StratOrder'].isin(['Buy'])]
# Displaying the result
display(buy_df)

,time,open,high,low,close,MA10,Signal,StratOrder
9,2023-06-13 21:00:00+00:00,1.07954,1.08644,1.07740,1.08316,1.073528,1,Buy
10,2023-06-14 21:00:00+00:00,1.08320,1.09527,1.08038,1.09455,1.074994,1,Buy
11,2023-06-15 21:00:00+00:00,1.09444,1.09708,1.09178,1.09416,1.076795,1,Buy
12,2023-06-18 21:00:00+00:00,1.09422,1.09463,1.09072,1.09210,1.079131,1,Buy
13,2023-06-19 21:00:00+00:00,1.09226,1.09462,1.08922,1.09179,1.081196,1,Buy
14,2023-06-20 21:00:00+00:00,1.09164,1.09908,1.09058,1.09866,1.083424,1,Buy
15,2023-06-21 21:00:00+00:00,1.09866,1.10120,1.09485,1.09558,1.086298,1,Buy
16,2023-06-22 21:00:00+00:00,1.09584,1.09594,1.08444,1.08960,1.088044,1,Buy
17,2023-06-25 21:00:00+00:00,1.08990,1.09202,1.08874,1.09050,1.089542,1,Buy
19,2023-06-27 21:00:00+00:00,1.09604,1.09630,1.08968,1.09128,1.092694,1,Buy
27,2023-07-09 21:00:00+00:00,1.09610,1.10016,1.09436,1.10012,1.090597,1,Buy
28,2023-07-10 21:00:00+00:00,1.10016,1.10274,1.09769,1.10087,1.091539,1,Buy
29,2023-07-11 21:00:00+00:00,1.10043,1.11405,1.10034,1.11316,1.091978,1,Buy
30,2023-07-12 21:00:00+00:00,1.11329,1.12280,1.11281,1.12264,1.094169,1,Buy
31,2023-07-13 21:00:00+00:00,1.12153,1.12451,1.12041,1.12274,1.097672,1,Buy
32,2023-07-16 21:00:00+00:00,1.12346,1.12490,1.12033,1.12398,1.100908,1,Buy
33,2023-07-17 21:00:00+00:00,1.12354,1.12757,1.12092,1.12284,1.104141,1,Buy
34,2023-07-18 21:00:00+00:00,1.12266,1.12402,1.11744,1.12027,1.107583,1,Buy
35,2023-07-19 21:00:00+00:00,1.12004,1.12292,1.11185,1.11298,1.111013,1,Buy
47,2023-08-06 21:00:00+00:00,1.10175,1.10206,1.09654,1.10027,1.100802,1,Buy
48,2023-08-07 21:00:00+00:00,1.10033,1.10113,1.09290,1.09565,1.100181,1,Buy
51,2023-08-10 21:00:00+00:00,1.09821,1.10051,1.09430,1.09468,1.098186,1,Buy
64,2023-08-29 21:00:00+00:00,1.08754,1.09456,1.08552,1.09234,1.085353,1,Buy
65,2023-08-30 21:00:00+00:00,1.09262,1.09398,1.08351,1.08434,1.085712,1,Buy

In [7]:

# Find values in 'Open' and 'Close' columns in the row after 'Buy' in 'Strat Order'
buy_indices = df[df['StratOrder'] == 'Buy'].index

# Finds the next day to operate buy signal on!  Eureka! 
next_row_indices = buy_indices + 1
# Make the dataframe for next rows so we can calculate balance etc afterwards
nextday_df = df.loc[next_row_indices, ['time','open', 'close','high','low','MA10',]]
ndf = nextday_df
# Display the result DataFrame
display(ndf)

                        time     open    close     high      low      MA10
10 2023-06-14 21:00:00+00:00  1.08320  1.09455  1.09527  1.08038  1.074994
11 2023-06-15 21:00:00+00:00  1.09444  1.09416  1.09708  1.09178  1.076795
12 2023-06-18 21:00:00+00:00  1.09422  1.09210  1.09463  1.09072  1.079131
13 2023-06-19 21:00:00+00:00  1.09226  1.09179  1.09462  1.08922  1.081196
14 2023-06-20 21:00:00+00:00  1.09164  1.09866  1.09908  1.09058  1.083424
15 2023-06-21 21:00:00+00:00  1.09866  1.09558  1.10120  1.09485  1.086298
16 2023-06-22 21:00:00+00:00  1.09584  1.08960  1.09594  1.08444  1.088044
17 2023-06-25 21:00:00+00:00  1.08990  1.09050  1.09202  1.08874  1.089542
18 2023-06-26 21:00:00+00:00  1.09074  1.09608  1.09766  1.09020  1.091044
20 2023-06-28 21:00:00+00:00  1.09138  1.08644  1.09414  1.08603  1.093512
28 2023-07-10 21:00:00+00:00  1.10016  1.10087  1.10274  1.09769  1.091539
29 2023-07-11 21:00:00+00:00  1.10043  1.11316  1.11405  1.10034  1.091978
30 2023-07-12 21:00:00+00:00  1.11329  1.12264  1.12280  1.11281  1.094169
31 2023-07-13 21:00:00+00:00  1.12153  1.12274  1.12451  1.12041  1.097672
32 2023-07-16 21:00:00+00:00  1.12346  1.12398  1.12490  1.12033  1.100908
33 2023-07-17 21:00:00+00:00  1.12354  1.12284  1.12757  1.12092  1.104141
34 2023-07-18 21:00:00+00:00  1.12266  1.12027  1.12402  1.11744  1.107583
35 2023-07-19 21:00:00+00:00  1.12004  1.11298  1.12292  1.11185  1.111013
36 2023-07-20 21:00:00+00:00  1.11300  1.11256  1.11450  1.11078  1.113421
48 2023-08-07 21:00:00+00:00  1.10033  1.09565  1.10113  1.09290  1.100181
49 2023-08-08 21:00:00+00:00  1.09539  1.09736  1.09956  1.09518  1.099192
52 2023-08-13 21:00:00+00:00  1.09532  1.09072  1.09604  1.08748  1.097523
65 2023-08-30 21:00:00+00:00  1.09262  1.08434  1.09398  1.08351  1.085712
66 2023-08-31 21:00:00+00:00  1.08413  1.07752  1.08822  1.07721  1.085439

Now, let's add more columns to our filtered dataframe with all subsequent rows on which the transactions occur.

In [8]:
# Create Delta column to gauge intraday change in price 
ndf['Delta']= ndf['close']-ndf['open']

# Create Range column to track distance between low and high 
ndf['Range']= ndf['high']-ndf['low']

# Create Unit Tradesize Column which is in units instead of dollars, longer explanation detailing margin, unit size, leverage etc. 
ndf['Unit Size']= 50000

# Create Tradesize 
ndf['Tradesize'] = ndf['Unit Size'] * ndf['close']

# Create Margin Used on particular trade 
ndf['Margin Used'] = .02 * ndf['Tradesize']

# Create the Strategy profit column using delta (intraday change) and unit size
ndf['StratProfit']= ndf['Delta'] * ndf['Unit Size']





display(ndf)

,time,open,close,high,low,MA10,Delta,Range,Unit Size,Tradesize,Margin Used,StratProfit
10,2023-06-14 21:00:00+00:00,1.08320,1.09455,1.09527,1.08038,1.074994,0.01135,0.01489,50000,54727.5,1094.55,567.5
11,2023-06-15 21:00:00+00:00,1.09444,1.09416,1.09708,1.09178,1.076795,-0.00028,0.00530,50000,54708.0,1094.16,-14.0
12,2023-06-18 21:00:00+00:00,1.09422,1.09210,1.09463,1.09072,1.079131,-0.00212,0.00391,50000,54605.0,1092.10,-106.0
13,2023-06-19 21:00:00+00:00,1.09226,1.09179,1.09462,1.08922,1.081196,-0.00047,0.00540,50000,54589.5,1091.79,-23.5
14,2023-06-20 21:00:00+00:00,1.09164,1.09866,1.09908,1.09058,1.083424,0.00702,0.00850,50000,54933.0,1098.66,351.0
15,2023-06-21 21:00:00+00:00,1.09866,1.09558,1.10120,1.09485,1.086298,-0.00308,0.00635,50000,54779.0,1095.58,-154.0
16,2023-06-22 21:00:00+00:00,1.09584,1.08960,1.09594,1.08444,1.088044,-0.00624,0.01150,50000,54480.0,1089.60,-312.0
17,2023-06-25 21:00:00+00:00,1.08990,1.09050,1.09202,1.08874,1.089542,0.00060,0.00328,50000,54525.0,1090.50,30.0
18,2023-06-26 21:00:00+00:00,1.09074,1.09608,1.09766,1.09020,1.091044,0.00534,0.00746,50000,54804.0,1096.08,267.0
20,2023-06-28 21:00:00+00:00,1.09138,1.08644,1.09414,1.08603,1.093512,-0.00494,0.00811,50000,54322.0,1086.44,-247.0
28,2023-07-10 21:00:00+00:00,1.10016,1.10087,1.10274,1.09769,1.091539,0.00071,0.00505,50000,55043.5,1100.87,35.5
29,2023-07-11 21:00:00+00:00,1.10043,1.11316,1.11405,1.10034,1.091978,0.01273,0.01371,50000,55658.0,1113.16,636.5
30,2023-07-12 21:00:00+00:00,1.11329,1.12264,1.12280,1.11281,1.094169,0.00935,0.00999,50000,56132.0,1122.64,467.5
31,2023-07-13 21:00:00+00:00,1.12153,1.12274,1.12451,1.12041,1.097672,0.00121,0.00410,50000,56137.0,1122.74,60.5
32,2023-07-16 21:00:00+00:00,1.12346,1.12398,1.12490,1.12033,1.100908,0.00052,0.00457,50000,56199.0,1123.98,26.0
33,2023-07-17 21:00:00+00:00,1.12354,1.12284,1.12757,1.12092,1.104141,-0.00070,0.00665,50000,56142.0,1122.84,-35.0
34,2023-07-18 21:00:00+00:00,1.12266,1.12027,1.12402,1.11744,1.107583,-0.00239,0.00658,50000,56013.5,1120.27,-119.5
35,2023-07-19 21:00:00+00:00,1.12004,1.11298,1.12292,1.11185,1.111013,-0.00706,0.01107,50000,55649.0,1112.98,-353.0
36,2023-07-20 21:00:00+00:00,1.11300,1.11256,1.11450,1.11078,1.113421,-0.00044,0.00372,50000,55628.0,1112.56,-22.0
48,2023-08-07 21:00:00+00:00,1.10033,1.09565,1.10113,1.09290,1.100181,-0.00468,0.00823,50000,54782.5,1095.65,-234.0
49,2023-08-08 21:00:00+00:00,1.09539,1.09736,1.09956,1.09518,1.099192,0.00197,0.00438,50000,54868.0,1097.36,98.5
52,2023-08-13 21:00:00+00:00,1.09532,1.09072,1.09604,1.08748,1.097523,-0.00460,0.00856,50000,54536.0,1090.72,-230.0
65,2023-08-30 21:00:00+00:00,1.09262,1.08434,1.09398,1.08351,1.085712,-0.00828,0.01047,50000,54217.0,1084.34,-414.0
66,2023-08-31 21:00:00+00:00,1.08413,1.07752,1.08822,1.07721,1.085439,-0.00661,0.01101,50000,53876.0,1077.52,-330.5